* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background: #2355ad;
  padding: 40px 0px;
  font-size: 600%;
  text-align: center;
  margin: 0;
  color: aliceblue;
}

.imageLCD {
  width: 16%;
  height: auto;
  margin-bottom: -52px;
  margin-right: 21px;
  padding-bottom: 28px;
}

p {
  color: blue;
}

.paragraph {
  width: 70%;
  float: right;
  margin-top: 0;
  font-size: 20px;
  color: #795e13;
  margin-top: 39px;
}

.rightBar {
  width: 26%;
  float: left;
}

.rightBar p {
  font-size: 150%;
  color: #a52f2a;
  border-bottom-style: dotted;
  padding-left: 11px;
  padding-top: 30px;
  padding-bottom: 6px;
}

.rightBar p:hover {
  color: #2355ad;
  cursor: pointer;
}

.rightBar ul {
  list-style-type: none;
  margin-left: 0;
  list-style-type: none;
  padding-left: 0;
}

.rightBar li {
  font-size: 150%;
  color: #a52f2a;
  border-bottom-style: dotted;
  padding-left: 0;
  padding-top: 11px;
  padding-bottom: 10px;
}

.rightBar a {
  text-decoration: none;
  color: rgb(119, 70, 29);
  padding-left: 10px;
}

.rightBar a:hover {
  color: blue;
}

.footer {
  width: 100%;
  float: left;
  text-align: center;
  background-color: rgb(148, 85, 27);

  width: 100%;
  padding: 20px;
  margin-top: 73px;

  /* position: fixed; */
  /* left: 0;
    bottom: 0;
   
    
  
    text-align: center; */
}
